.carousel {
    display: flex;
    justify-content: space-around;
    flex: 1;
}

.container {
    display: flex;
    // height: 800px;
    justify-content: space-between;
}


.preloaded {
    display: none;
}