/* The animation code */

@keyframes example {
    from {
        margin-top: 30px;
    }
    to {
        margin-top: 300px;
    }
}

/* The element to apply the animation to */

.center {
    margin-top: 300px; // background-color: red;
    animation-name: example;
    animation-duration: 4s;
}